
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{

background-color: #a3a0ad;


}
#myInput{
  width:19rem ;
  height: 5rem;
border: none;
outline: none;
background-color:#5B8FB9;
margin: 10px;
font-size: 24px;
color: white;
display: flex;
flex-wrap: wrap;

}
.container{
    color: azure;
    background-color: #03001C;
    width: 20rem;
    height: 33rem;
   border: solid 3px #B6EADA;
    margin-left: 30rem;
    margin-top: 3rem;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



}

.input{
    font-size: 24px;
    background-color:#5B8FB9; 
    width: 20rem;
    height: 12rem;
    border: solid none 3px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    font-family: 'Orbitron', sans-serif;
    


}
#first, #second, #third, #fourth, #fifth {

    display:flex;
  
 justify-content:space-between;

/*border: solid red 3px;*/
    
    width: 19.7rem;
    height: 4rem;

}

#first button, #second button, #third button, #fourth button, #fifth button{

flex-grow: 1;
border: solid 0px white;
color: azure;
background-color: #03001C;
box-sizing:border-box ;
    
}
.numbers{
    color: azure;
    background-color: #03001C;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

flex-grow: 1;

border-bottom-left-radius:14px ;
border-bottom-right-radius:14px ;
border-top: solid 1px blue;

}
#first button:hover, #second button:hover, #third button:hover, #fourth button:hover, #fifth button:hover{

    flex-grow: 1;
  
    color: #212121;
    background-color: yellow;
    border-radius: 100%;
    
    
        
    }

    #answer{
        display: flex;
        justify-content: end;
        height: 3rem;
      margin-right: 10px;
      font-size: 34px;


    }



